html {
    background-color: #dddddd;
}

body {
    width: 95%;
    font-family: sans-serif;
    font-weight: 100;
    color: #333333;
    margin: auto;
}

h1, h2, h3 {
    text-align: center;
    font-weight: 100;
}

h2 {
    margin-bottom: 2em;
}

div#select {
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
}

div#myDiv {
    max-width: 1200px;
    margin: auto;
}

div#iframe {
    width: 100%;
    height: 100%;
    margin: auto;
}

#zip {
    margin-top: 1em;
    float: left;
}

#crime {
    margin-top: 1em;
    float: right;
}